version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: skywatcher-postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: skywatcher
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
  
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: skywatcher-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: skywatcher-kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      # 내부망(PLAINTEXT)과 외부망(CONNECTIONS_FROM_HOST)을 철저히 분리
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONNECTIONS_FROM_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,CONNECTIONS_FROM_HOST://localhost:9092
      # 브로커가 컨트롤러와 통신할 때 내부망 주소(kafka)를 쓰도록 강제
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  spark:
    image: apache/spark:3.5.0
    container_name: skywatcher-spark
    environment:
      - SPARK_MODE=master
    user: root
    # tty: true
    # jdbc 연결 코드 추가
    command: >
      /opt/spark/bin/spark-submit
      --packages org.apache.spark:spark-sql-kafka-0-10_2.12:3.5.0,org.postgresql:postgresql:42.6.0
      --master local[*]
      /opt/spark/work-dir/streaming/main.py
    volumes:
      - ./streaming:/opt/spark/work-dir/streaming

  grafana:
    image: grafana/grafana:latest
    container_name: skywatcher-grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - postgres